<div class="bg-white flex flex-col h-auto w-full max-w-md rounded-xl mx-auto">
  <div class="p-5 bg-black rounded-t-xl text-white text-lg">
    <span>Product Details</span>
  </div>
  <div class="mt-10 mx-4">
    <form [formGroup]="productForm" (ngSubmit)="submitForm()">
      <div class="flex flex-col space-y-6">
        <div>
          <label class="font-bold font-mono" for="name">Name: </label>
          <input
            class="border border-black rounded p-2 w-full sm:w-72"
            id="name"
            type="text"
            formControlName="title"
          />
        </div>
        <div>
          <label class="font-bold font-mono" for="description">Description:</label>
          <textarea
            class="border border-black rounded p-2 w-full"
            id="description"
            rows="6"
            formControlName="description"
          ></textarea>
        </div>
        <div>
          <label class="font-bold font-mono" for="stock">Stock: </label>
          <input
            class="border border-black rounded p-2 w-full sm:w-72"
            id="stock"
            type="text"
            formControlName="stock"
          />
        </div>
        <div>
          <label class="font-bold font-mono" for="price">Price: </label>
          <input
            class="border border-black rounded p-2 w-full sm:w-72"
            id="price"
            type="text"
            formControlName="price"
          />
        </div>
        <div>
          <label class="font-bold font-mono" for="category">Category: </label>
          <input
            class="border border-black rounded p-2 w-full sm:w-72"
            id="category"
            type="text"
            formControlName="category"
          />
        </div>
      </div>
      <div class="mt-10 text-center">
        <button class="bg-green-800 text-white p-3 rounded-lg hover:bg-green-950 w-full sm:w-auto" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
